@model DemoApp.DataAccess.Entities.PictureDto

@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete this?</h3>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <div class="col-md-10">

            <figure>
                <div>
                    <img src="data:image/jpg;base64, @Convert.ToBase64String(Model.Data, 0, Model.Data.Length)"
                         alt="" style="width:200px;" />
                </div>

            </figure>

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Request.UrlReferrer">Back to List</a>
        </div>
    }
</div>
