@model DemoApp.DataAccess.Entities.PictureDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("returnUrl", Request.UrlReferrer)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId )
        <div class="form-group">
            <label class="control-label col-md-2" ></label>
            <div class="col-md-10">

                <figure>
                    <div>
                        <img src="data:image/jpg;base64, @Convert.ToBase64String(Model.Data, 0, Model.Data.Length)"
                             alt="" style="width:200px;"/>
                    </div>
                    <div>
                        <input class="form-control" type="file" name="file" />
                    </div>
                </figure>    

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />|
                <a href="@Request.UrlReferrer">Back to List</a>
            </div>
        </div>
    </div>
}
